# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/

# ignore everything in the "wp-content" directory, except mu-plugins and themes
wp-content/*
!wp-content/mu-plugins/
!wp-content/themes/

# ignore all themes except REDIRECT theme
wp-content/themes/*
!wp-content/themes/redirect

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
